* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    color: #3E3232;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #254336 ;
    background: linear-gradient(135deg, #704264, #8bc4a7);
}

.container {
    width: 500px;
    background: linear-gradient(135deg, #D8EFD3, #A87676);    border-radius: 20px;
    padding: 20px;
    height: 100vh;
}

.musicName {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.musicImage {
    position: relative;
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #3E3232;
    margin: 5px 50px;
}

.controlButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
}

.controlButtons i {
    margin: 30px;
}

.sliderControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 60%;
    accent-color: #49243E;
    margin: 10px;
    text-align: center;
}

.songSlider {
    width: 90%;
    accent-color: #49243E;
}